.container{
  width: 100%;
  padding: .5rem 1rem 0.5rem 0.2rem;
  border-bottom: 1px solid #E6E7EB;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  z-index: 9;
}
.leftNav{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.leftNav img{
  height: 2rem;
}
.categoriesContainer{
  display: flex;
  cursor: pointer;
  transition: .2s;
  position: relative;
}
.categoriesContainer:hover .categoriesTitle{
  color: orangered;
}
.categoriesContainer:hover #expand{
  transform: rotate(180deg) translateY(-2px);
}
.categoriesContainer:hover .categories {
  display: flex;
}
.categoriesTitle{
  display: none;
  font-family: 'Oswald', 'Roboto', serif;;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: black;
  text-transform: capitalize;
  margin: .5rem;
}
.categoriesTitle p{
  margin: 0;
}
.categories{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: white;
  cursor: default;
  transition: .5s;
  z-index: 10;
}
.categories a{
  color: black;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0;
  cursor: pointer;
}
.categories a:hover{
  color: orangered;
}
.categories#show{
  left:0;
}
.search{
  padding: .5rem;
  padding-left: 1rem;
  position: relative;
  width: 100%;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 12;
}
.search#show{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.searchInput{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.search:focus{
  border-color: orangered;
}
.searchInput input{
  border: none;
  outline: none;
  width: 100%;
}
.searchInput span{
  color:orangered;
}
.searchInput span#show{
  display: block;
  cursor: pointer;
}
.searchInput span#hidden{
  display: none;
}
.suggestions{
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-top: 1px solid #E6E7EB;
  max-height: 95vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.suggestion{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  gap:1rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.suggestion:not(:last-child){
  border-bottom: 1px solid #E6E7EB;
}
.suggestion img{
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}
.suggestion p{
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  margin: 0;
}
.suggestion:hover p{
  color: orangered;
}
.rigthNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-top: 1px solid #E6E7EB;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem .5rem 0.2rem;
  z-index: 8;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}
.menu:hover{
  color:orangered;
}
.menu p{
  font-family: 'Oswald', 'Roboto', serif;
  margin: 0;
}
.shopping{
  position: relative;
  width: 24px;
  height: 24px;
}
.shopping .counter{
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: -0.8rem;
  left: .6rem;
  background-color: orangered;
  color: white;
  font-size: .7rem;
  border-radius: 2rem;
  font-weight: bold;
}
.menuBurger{
  width: 24px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 11;
}
.burger{
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  width: 24px;
  height: 3px;
  background-color: black;
  transition: 0.7s;
}
.burger::before{
  content: '';
  position: absolute;
  top: -7px;
  right: 0;
  width: 12px;
  height: 3px;
  background-color: black;
  transition: 0.7s;
}
.burger::after{
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 12px;
  height: 3px;
  background-color: black;
  transition: 0.7s;
}
.burger#show{
  width: 0;
}
.burger#show::before{
  width: 24px;
  transform: translate(24px,7px) rotate(-45deg);
}
.burger#show::after{
  width: 24px;
  transform: translate(0,-7px) rotate(45deg);
}

@media screen and (min-width:576px) {
  .categoriesTitle{
    display: flex;
  }
  .menuBurger{
    display: none;
  }
  .categories {
    width: 10rem;
    height: auto;
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    border: 1px solid #E6E7EB;
    border-top: none;
    border-radius: .5rem;
    overflow: hidden;
  }
  .categories a {
    width: 100%;
    font-size: 1rem;
  }
  .categories a:hover {
    box-shadow: 0px 0px 1px 1px #E6E7EB;
    color: orangered;
  }
  .rigthNav {
    justify-content: flex-end;
    align-items: flex-end;
    border-top:none;
    width: fit-content;
    position: relative;
    bottom: auto;
    left: auto;
    height: 24px;
    margin-top: 0.3rem;
  }
  .menu .menuTitle {
    display: none;
  }
  #home{
    display:none;
  }
}
@media screen and (min-width:768px) {
  #searchIcon {
    display: none;
  }
  .search {
    border: 1px solid rgb(255, 153, 0);
    border-radius: 5rem;
    padding: .5rem;
    padding-left: 1rem;
    position: relative;
    width: 100%;
    max-width: 25rem;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    left: auto;
    background-color: white;
    z-index: 12;
  }
  .searchInput span#show {
    display: none;
  }
  .suggestions {
    border: 1px solid #E6E7EB;
    border-radius: .5rem;
    max-height: 25rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media screen and (min-width:992px) {
  .rigthNav{
    min-width: 20rem;
  }
  .menu{
    flex-direction: row;
  }
  .menu .menuTitle {
    display: flex;
  }
}